<p>Gists</p>

<table>
  <tr>
    <th><%= I18n.t('activerecord.models.question') %></th>
    <th>URL</th>
    <th><%= I18n.t('activerecord.models.user') %></th>
  </tr>
  <%= render @gists %>
</table>

<p><%= link_to I18n.t('buttons.back'), admin_tests_path %></p>
