<footer>
  <p>
    <%= current_year %> Урядов EvaN Иван<br>
    <%= link_to 'TestGuru',
                github_url('glASScl3an3r', 'Test-Guru'),
                target: :_blank,
                rel: :nofollow %>
     — веб-приложение для создания и прохождения тестов.<br>
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica',
                'https://thinknetica.com',
                target: :_blank,
                rel: :nofollow %>
  </p>
</footer>
