<h1>Tests</h1>

<table class="table" id="TestsTable">
  <tr>
    <th class="sort-by pointer">
      Title
      <%= octicon 'arrow-up',   class: 'hide' %>
      <%= octicon 'arrow-down', class: 'hide' %>
    </th>
    <th>Level</th>
    <th>Questions</th>
    <th>Time</th>
    <th>Actions</th>
  </tr>

  <%= render @tests %>
</table>
