<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      .mailbox {
        padding: 10px;
        margin: 0px auto;
        margin-top: 25px;
        border: 3px solid #3cc85e0;
        border-radius: 5px;
        width: 70%;
      }
    </style>
  </head>

  <body>
    <div class="mailbox">
      <%= yield %>
    </div>
  </body>
</html>
